<DOCTYPE html>
<html>
  <head>
    <title>loopback-example-relation</title>
  </head>
  <body>
    <h1>loopback-example-relation</h1>
    <p>
      <a href="/explorer">API Explorer</a>
    </p>
    <h2>API</h2>
    <ul>
      <li><a href='/api/accounts'>/api/accounts</a>
      <li><a href='/api/accounts?filter[fields][firstname]=true'>/api/accounts?filter[fields][firstname]=true</a>
      <li><a href='/api/accounts/1'>/api/accounts/1</a>
      <li><a href='/api/accounts/custom'>/api/accounts/custom</a>
      <li><a href='/api/accounts/1/purchases'>/api/accounts/1/purchases</a>
      <li><a href='/api/accounts?filter[include]=purchases'>/api/accounts?filter[include]=purchases</a>
    </ul>
  </body>
</html>